html {
  height: 100%;
  width: 100%;
}
body {
   background-color: lightgoldenrodyellow;
}
img {margin: 5%}
p {
    padding: 20px 15px 15px 20px
}
p {
  font-family: "Tahoma", "Sans-serif", sans-serif;
}
p {
    text-align: center;
    color: blue
}
body {color: royalblue
     }